<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Restopedia</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#09a00e" />
    <link rel="icon" href="/src/public/favicon.ico">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/src/public/icons/192x192.png">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css"
      crossorigin="anonymous"
    />
    <script
      src="https://use.fontawesome.com/b070c8f1df.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <a href="#main-content" class="skip-link" id="skip">Menuju ke konten</a>
    <header class="home">
      <nav-bar></nav-bar>
      <hero-content class="home_text"></hero-content>
      
    </header>
    <main id="main-content"></main>
    <custom-footer></custom-footer>
  </body>
  
</html>
